<h1><%="Welcome #{@user.name}"%></h1>


<%@questions.each do |q|%>
    <%="Q: #{q.question}"%>
    <a href='/question/<%= q.id %>/edit'>Edit</a>
    <a href='/question/<%= q.id %>/delete'>Delete</a></br>
    
    <%Answer.where(question_id:q.id).each do |a|%>
        <%= "A: #{a.answer} by #{a.user.name}" %>
        <a href='/answer/<%=a.id%>/edit'>Edit</a>
        <a href='/answer/<%=a.id%>/delete'>Delete</a>
        <br>
        
        <%=a.votes.count%> 
        <form method="post" action="/vote/<%=a.id%>/add">
            <input type=submit value="Up Vote">
        </form>
      
        <form method="post" action="/vote/<%=a.id%>/delete">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input type=submit value="Remove Vote">
        </form>                  
        
        <br>
    <%end%>
    <br>

    <form method="post" action="/question/<%= q.id %>/answers/add">
        <input type=text placeholder="answer the question" name="answer"><br>
        <input type=submit value="Add Answer">
    </form>
<%end%>

<hr>

<form method="post" action="/add_question">
    <input type=text placeholder="ask your question" name="question"><br>
    <input type=submit value="Add Question">
</form>

<hr>

<h3>Other Questions</h3>

<% @all_questions.each do |all_q| %>
    <% if all_q.user_id != current_user.id %>
        <%= "Q: #{all_q.question} by #{all_q.user.name}" %><br>
            
            <% @all_answers.each do |all_a| %>
                <%if all_a.question_id == all_q.id %>
                    <%= "A: #{all_a.answer} by #{all_a.user.name}" %>
                    <a href='/answer/<%=all_a.id%>/edit'>Edit</a>
                    <a href='/answer/<%=all_a.id%>/delete'>Delete</a>
                    <br>
                    <%=all_a.votes.count%>
                    <form method="post" action="/vote/<%=all_a.id%>/add">
                        <input type=submit value="Up Vote">
                    </form>             
                    <br>
                <%end%>
            <%end%>   

            <form method="post" action="/question/<%= all_q.id %>/answers/add">
                <input type=text placeholder="answer the question" name="answer"><br>
                <input type=submit value="Add Answer">
            </form>
        
    <% end %>
<% end %>
